body {
    background-color: yellow;
}

nav {
    width: auto;
    height: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    align-items: center;
    margin: 8px;
}

button#home {
    height: 20px;
    width: 60px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    margin: 10px;
}

button#menu {
    height: 20px;
    width: 60px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin: 10px;
}

button#about {
    height: 20px;
    width: 60px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin: 10px;
}

img {
    height: 400px;
    width: 700px;
}